/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/*

   GENERAL

*/
 .container{
    max-width: 1200px;
    margin: 0 auto;
 }

 .container3{
    padding: 100px 0;
}

.container4{
    padding: 100px 0;
}

.contgreen{
    padding: 100px 0;
}


.button1{
    border-radius: 20px;
    padding: 6px 13px;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 14px;
}



.button{
    border-radius: 20px;
    padding: 13px 13px;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 14px;
}



.white{
    background-color: white;
    color: black;
    margin-right: 10px;    
}

.black{
    background-color: #23272A;
    color: white;
    padding: 13px 15px;
    margin-left: 15px;
}


.flex-button{
    display: flex;
    justify-content: center;
}


.blue{
    background-color: #7289DA;
    max-width: 15%;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
}


 /*

   HEADER

*/

.header-top{
    background-color: #255EE9; 
    padding: 10px 0;
}

.header-top .my-row > * {
    padding: 10px;
}

.header-bottom{
    background-image: url(../img/jumbo.png);
    padding: 50px 0;
    background-size: cover;
}

.my-row{
    display: flex;
    flex-wrap: nowrap;
}




.my-col-logo{
    width: 25%;
}

.my-col-link{
    width: 50%;    
}

.my-col-login{
    width: 25%;
    text-align: right;
}
 
li > a{
    color: white;
    text-decoration: none;
}

.my-col-link ul li{
    display: inline-block;
    margin: 0 8px;
}

.my-col-link ul{
    text-align: center;
}

.container2{
    max-width: 800px;
}

.jumbotron > h1{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 400;
}

.jumbotron > *{
    color: white;
    text-align: center;
}

.jumbotron p{
    margin-top: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 390;

}



 /*

   MAIN

*/


.col70{
    width: 60%;
}

.col30{
    width: 40%;
}

main > section:nth-child(even){
    background-color: lightgray;
}

.box-green > *{
    display: flex;
    justify-content: center;   
}

.box-green img{
    display: block;
    margin: 0 auto;
}

.box-green .titolo3{
    font-size: 40px;
}

.box-green .paragraph3{
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
}

.box-green h3{
    background-image: url(../img/stars.svg);
    background-size:contain;
}




.col-1-4{
    width: calc((100% / 4) * 1);
}

.col-3-4{
    width: calc((100% / 4) * 3);
}

.col30 .titolo1{
    font-size: 40px;
    padding-top: 38px;
    padding-left: 80px;
}

.col70 img{
    background-size: contain;
}

.col30 .paragraph1{
    text-align: left;
    padding-left: 80px;
    line-height: 25px;
    margin-top: 25px;
}

.col30 .paragraph2{
    text-align: left;
    padding-left: 30px;
    line-height: 25px;
    margin-top: 25px;
}

.col30 .titolo2{
    font-size: 40px;
    padding-top: 38px;
    padding-left: 30px;
}


 /*

    FOOTER

*/

footer{
    background-color: #23272A;
}

.footer-top{
    padding: 20px 0;
}

.footer-top hr{
    margin-top: 20px;
}

.footer-bottom .sign-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}


.col-1-4 h3{
    font-size: 30px;
    padding: 40px 40px 0px;
    margin-top: 40px;
    color: #7289DA;
}

.col-1-4 img{
    width: 30px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 39px;
}


.col-1-4 p{
    color: white;
    display: inline-block;
    margin-left: 7px;
    font-weight: 200;
    vertical-align: super;
}

select{
    text-decoration: none;
    background-color:#23272A;
    border: none;
    color: white;
    vertical-align: super;
    
}


.icon{
    padding-left: 38px;
}



.col-1-4 i{
    color: white;
    display: inline-block;
    margin: 13px 3px;

}

.col-1-4 nav ul{
    color: white;
    list-style: none;
    
}

.col-1-4 nav ul li{
    margin-top: 15px;
}

ul li:first-child{
    color: #7289DA;
}


.ulflex{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 75px 0 70px 70px;  
}










